<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="height: 100%">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/css/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/css/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/css/demo.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#user-main-page-datagrid').datagrid({
			url : '/user/findAll',
			method : 'get',
			toolbar : toolbar,
			columns : [ [ {
				field : 'userID',
				title : '用户ID',
				width : 100
			}, {
				field : 'userName',
				title : '用户姓名',
				width : 100
			}, {
				field : 'userLoginName',
				title : '用户登录名称',
				width : 100
			}, {
				field : 'userLoginPassword',
				title : '用户登录密码',
				width : 100
			}, {
				field : 'userStatus',
				title : '用户状态',
				width : 100
			}, {
				field : 'userLoginStatus',
				title : '用户登录状态',
				width : 100
			}, {
				field : 'userPurView',
				title : '用户权限',
				width : 100
			} ] ]
		});
	});
	

	var toolbar = [ {
		text : 'Add',
		iconCls : 'icon-add',
		handler : function() {
			alert('add');
			add();
		}
	}, {
		text : 'Cut',
		iconCls : 'icon-cut',
		handler : function() {
			alert('cut')
		}
	}, '-', {
		text : 'Save',
		iconCls : 'icon-save',
		handler : function() {
			alert('save')
		}
	} ];
	
	function add(){
		$('#user-add-page-window').window('open');
	}
	
	function addSubmit(){
		$('#user-add-page-form').form('submit');
	}
	function addCancel(){
		$('#user-add-page-form').form('clear');
	}
</script>
<title>用户管理</title>
</head>
<body style="height: 90%">
	<div id="user-main-page-panel" class="easyui-panel" style="height: 90%">
		<table id="user-main-page-datagrid"></table>
		<div id="user-add-page-window" class="easyui-window" closed="true" title="用戶新增">
			<form style="padding:10px 20px 10px 40px;" id="user-add-page-form" action="/user/add" method="post">
				<p><input type="hidden" name="userID"></p>
				<p>用户姓名:<input type="text" name="vo.userName" class="easyui-textbox" data-options="required:true"></p>
				<p>登录名称:<input type="text" name="vo.userLoginName" class="easyui-textbox" data-options="required:true"></p>
				<p>登录密码:<input type="password" name="vo.userLoginPassword" class="easyui-textbox" data-options="required:true"></p>
				<div style="padding:5px;text-align:center;">
					<a onclick="addSubmit()" class="easyui-linkbutton" icon="icon-ok">新增</a>
					<a onclick="addCancel()" class="easyui-linkbutton" icon="icon-cancel">清除</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>